SEO_API_BASE=https://www.yourdogzone.co.kr
SEO_SITE_URL=https://www.yourdogzone.co.kr
ACADEMY_ADMIN_SECRET=
WEBDOC_DIR=C:\Users\USER\Desktop\VM웹문서자동등록
NAVER_ID=
NAVER_PASSWORD=
NAVER_SITE=https://www.yourdogzone.co.kr
TWOCAPTCHA_API_KEY=
IMAGE_CDN=https://image.cattery.co.kr/dogboho
IMAGE_MAX=79
IMAGE_EXT=webp
